html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555555;
}
.navigation {
  position: fixed;
  z-index: 1;
  background: white;
  width: 80%;
  margin: 0 200px;
}
.logo {
  position: relative;
  float: left;
  margin-right: 200px;
}
.button-div {
  position: relative;
  float: left;
  width: 100px;
  height: 25px;
  padding: 12px;
  line-height: 25px;
  text-align: center;
  border-bottom: 3px solid white;
  cursor: pointer;
}
.button-div:hover {
  border-bottom: 3px solid orange;
}
.search-bar {
  position: relative;
  float: right;
  margin: 12px;
  background-color: lightgrey;
  border-radius: 13px;
  padding: 0 10px;
}
.search-bar>input {
  width: 200px;
  height: 25px;
  border: none;
  height: 25px;
  line-height: 25px;
  background-color: lightgrey;
}
.search-icon {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  background: url("../media/icons-20.png") 0 0;
  margin: 3px;
}
.poster {
  position: relative;
  top: 52px;
  height: 550px;
  background-image: url("../media/poster.jpg");
  background-size: cover;
  color: white;
}
.poster>.text {
  width: 400px;
  padding: 50px 200px;
}
.poster>.text>h1 {
  text-align: center;
  font-weight: normal;
}
.poster>.text>.button-div {
  position: relative;
  float: left;
  width: 250px;
  background-color: orange;
  border: none;
  border-radius: 12px;
  text-align: left;
  padding: 0px 25px;
}
.apply-img {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  background: url("../media/icons-20.png") 0 40px;
  margin: 3px;
}
.content {
  position: relative;
  top: 50px;
  padding: 10px 200px;
}
hr {
  width: 80%;
  float: left;
}
.text-card {
  position: relative;
  float: left;
  margin: 25px;
  width: 290px;
  font-size: 14px;
  border-bottom: 10px solid lightslategrey;
  padding-bottom: 20px;
}
.tc-image {
  width: 80px;
  height: 80px;
}
#tci1 {
  background: url("../media/icons-80.png") 0 0;
}
#tci2 {
  background: url("../media/icons-80.png") 0 -80px;
}
#tci3 {
  background: url("../media/icons-80.png") 0 -160px;
}
a {
  color: orange;
  text-decoration: none;
}
.subscribe {
  position: relative;
  float: left;
  top: 50px;
  height: 500px;
  width: 100%;
  background: url("../media/paralax.jpg") -550px 600px;
}
.subscribe>h3 {
  padding: 50px 200px;
  color: white;
}
.subscription-box {
  margin: 0 200px;
  background-color: white;
  padding: 20px;
}
.signup {
  font-weight: bold;
  border-left: 2px solid grey;
  padding: 20px;
}
.subscription-input {
  width: 300px;
  margin: 12px;
  background-color: lightgrey;
  border-radius: 13px;
  padding: 0 10px;
}
.subscription-input>input {
  width: 200px;
  height: 25px;
  border: none;
  height: 25px;
  line-height: 25px;
  background-color: lightgrey;
}
.sub-icon {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  margin: 3px;
  background: url("../media/icons-20.png") 0 40px;
}